# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [15]:
# import File (CSV)
weather_data = pd.read_csv("cities.csv")

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)
# Store 'Lat' and 'Lng' into  locations 
locations = weather_data[["lat", "lng"]]
humidity = weather_data["humidity"].astype(float)
# Create a weather Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
conditions = weather_data.loc[(weather_data["temp"] > 70) & (
    weather_data["temp"] < 80) & (weather_data["windspeed"] <10 ) & (weather_data["cloudiness"] ==0)].dropna()

conditions.head()

,city,country,lat,lng,temp,humidity,cloudiness,windspeed,cityname,dt
61,East London,ZA,-33.02,27.91,75.20,64,0,5.82,East London,1590329397
139,Taltal,CL,-25.40,-70.48,70.56,36,0,2.89,Taltal,1590329415
186,Livingstone,ZM,-17.84,25.85,78.80,29,0,9.17,Livingstone,1590329697
242,Wenling,CN,28.37,121.36,73.99,85,0,1.01,Wenling,1590329704
296,Angostura,MX,25.37,-108.18,72.00,97,0,1.99,Angostura,1590329711

In [13]:
type(weather_data)

str

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map